<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Manager for department and employees</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'source.css' %}">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="tab">
    {% block up_tab %}
    {% endblock %}
</div>

<div class="green_div">
    <p align="center" style="font-size:30px"> Create</p>
</div>
<br><br>

{% block labels %}
{% endblock %}
</table>
</body>
</html>