{% extends 'base_edit.html' %}

{% load static %}

{% block up_tab %}
<a class="tab a_activate" href= "{% url 'employees_list' %}">Employees</a>
<a class="tab a" , href="{% url 'departments_list' %}">Departments</a>
{% endblock %}

<br><br>

{% block labels %}
<div style="width: 50%; float: left;padding-top:1%">
    <p align=right style="margin-right:40px">Select department:</p>
    <p align=right style="margin-right:40px">Name:</p>
    <p align=right style="margin-right:40px">Date of birthday:</p>
    <p align=right style="margin-right:40px">Salary:</p>
</div>
<div style="width: 50%;
           margin-left: 50%;
           padding-top:1%">
    <p>
        <select onchange="" id="id_select">
        <option></option>
        {% for d in data_department %}
        <option> {{ d.name }}</option>

        {% endfor %}
    </select>
    </p>
    <p><input type="text" size="15" style="font-size: 16;"></p>
    <p><input type="date" id="date_by" name="date_by" />
    <p><input type="text" size="15" style="font-size: 16;" ></p>
</div>
<div style="width: 50%; float: left;padding-top:1%">
    <p align=right style="margin-right: 40px;"><a class="button red_button">Cancel</a></p>
</div>
<div style="width: 50%;
           margin-left: 50%;
           padding-top:1%">
    <p align=left style="margin-left:40px"><a class="button green_button">Save</a></p>
</div>
{% endblock %}
</body>
</html>
