{% extends 'base.html' %}

{% load static %}

{% block up_tab %}
          <a class="tab a" href= "{% url 'employees_list' %}">Employees</a>
          <a class="tab a_activate">Departments</a>
{% endblock %}

{% block table %}
        <tr>
             <th>Name</th>
             <th width="75"></th>
         </tr>
    {% for d in data_department %}
        <tr>
             <td>{{ d.full_name }}</td>
             <td><a style = "cursor: pointer;"><img src="{% static 'trash.png' %}" width="32" height="32"></a>
                 <a style = "cursor: pointer;"><img src="{% static 'pencil.png' %}" width="32" height="32" ></a></td>
         </tr>
    {% endfor %}
{% endblock %}